{% extends 'baselogin.html' %} {%block title %} Admin Login {% endblock title %}
{%block form %}
<h2>Admin Login</h2>
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4"></div>
  <div class="col-md-4"></div>
  <form action="/admin" method="post">
  {% include "messages.html" %}
    <div class="form-group">
      <input
        type="text"
        class="form-control mt-2"
        placeholder="Enter the Username"
        name="username"
        required
      />
    </div>
    <!-- here mt-2 means margin top 2 -->
    <div class="form-group">
      <input
        type="password"
        class="form-control mt-2"
        placeholder="Enter Password"
        name="password"
        required
      />
    </div>
    <br>
<button  type ="submit" class="btn btn-info">Login</button>  
</form>
<a  class = " text-dark" href="/signup"> New User ? Signup</a>
</div>
<form action="" method="post">
    {% endblock form %}
</form>
